.new-note-head {
    background-color: rgb(233, 180, 34);
    width: 90%;
    height:50px;
    border-radius: 10px;
}

.new-note {
    background-color: rgb(233, 180, 34);
    width: 80%;
    height:300px;
    border-radius: 10px;
}

h1{
    color:rgb(233, 180, 34);
    margin-inline: 2%;
    margin-top: 20px;
    margin-bottom: 5px;;
}

h2{
    color:rgb(233, 180, 34);
    margin-inline: 5%;
    margin-top: 20px;
    margin-bottom: 5px;;
}

h3{
    color:rgb(233, 180, 34);
    margin-inline: 10%;
    margin-top: 20px;
    margin-bottom: 5px;;
}